extends layout 

block content 

    div.container
        div.content
            h1 Create New Category 
            hr

            form.form-horizontal(action="/product/add-category", method="POST") 
                div.form-group
                    label.col-sm-3 Title 
                    input.col-sm-9.form-control(name="title", placeholder="Enter category's title")

                div.form-group
                    label.col-sm-3 Image 
                    input.col-sm-9.form-control-file(name="image", type="file", accept=".jpg,.gif,.png")

                div.form-group
                    div.col-sm-9
                        button.btn.btn-primary(type="submit") Add Category